@font-face {
	font-family: "valkyrie";
	src: url("./fonts/valkyrie_b_regular.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "valkyrie";
	src: url("./fonts/valkyrie_b_italic.woff2") format("woff2");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "valkyrie";
	src: url("./fonts/valkyrie_b_bold.woff2") format("woff2");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "valkyrie caps";
	src: url("./fonts/valkyrie_b_caps_regular.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "valkyrie caps";
	src: url("./fonts/valkyrie_b_caps_bold.woff2") format("woff2");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "auth";
	src: url("./fonts/auth.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "auth";
	src: url("./fonts/authb.woff2") format("woff2");
	font-style: normal;
	font-weight: bold;
}