* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-underline-offset: 0.1em;
	text-decoration-thickness: 2px;

	--text-color-light: #fdf5e6;
	--text-color-light-gray: #c4beb2;
	--text-color-dark: #111;
	--text-color-theme: #BDB3F5;
	--theme-color: #BDB3F5;
	--theme-color-light: #cec6ff;
	--theme-color-dark: #a098ce;
	--bg-color: #123400;
	--button-background-color: #705bec;
	--button-background-hover-color: #614dcd;
	--button-border-color: #7962fb;
	--input-background-color: #dddddd;
	--input-border-color: #BDB3F5;
	--focus-outline-color: #ffa500;
	--placeholder-color: #4d4646;
}

body {
	font-family: "news", serif;
	line-height: 1.33;
	background-color: var(--bg-color);
	color: var(--text-color-light);
}

a:link, a:hover, a:visited, a:active {
	color: var(--text-color-theme);
}

a:hover {
	text-decoration: none;
}


.hidden {
	display: none;
}

/* header & form section */

header {
	height: 100vh;
	display: grid;
	place-content: center;
	max-width: 44em;
	margin: 0 auto;
	padding: 1.4em;
}

h1 {
	font-family: "auth", sans-serif;
	font-size: xxx-large;
	text-align: center;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	color: var(--theme-color);
}

input, button {
	letter-spacing: 2px;
	font-size: 1em;
}

input, button, .quote, .warning {
	padding: 6px 12px;
	width: 100%;
	font-family: "auth", sans-serif;
	border-radius: 4px;
}

input {
	background-color: var(--input-background-color);
	border: 1px solid var(--input-border-color);
}

:focus-visible {
	outline: 2px solid var(--focus-outline-color);
}

button {
	background-color: var(--theme-color);
	color: var(--text-color-dark);
	border: 1px solid var(--theme-color-light);
	cursor: pointer;
	margin: 0.4em 0;
}

button:hover {
	background-color: var(--theme-color-dark);
}

form {
	margin: 2em 0;
}

::placeholder {
	color: var(--placeholder-color);
}

.quote, .warning {
    font-family: "news", serif;
    font-size: 1.2em;
	color: var(--text-color-light);
	text-align: center;
}

/* navigation section */

nav {
	position: fixed;
	z-index: 10;
}

nav ul {
	padding: 1em 2em;
	font-size: 1.1em;
}

/* info (modal) section */
#info {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
}

#info:target {
	visibility: visible;
	display: grid;
	place-items: center;
	min-height: 100vh;
}

#info div {
	max-width: 600px;
	padding: 2em;
	z-index: 999;
	opacity: 0;
	font-size: 1.2em;
}

#info:target div {
	opacity: 1;
}

#info:target .lightbox {
	visibility: visible;
	text-indent: -9999em;
	background-color: #262626f2;
}

.lightbox {
	display: grid;
	place-items: center;
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	cursor: pointer;
}

/* artwork section */

section:not(.index) {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: grid;
    place-items: center;
}

section:not(.index) figure {
    height: 100vh;
    scroll-snap-align: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:not(.index) figure img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 66vh;
    box-shadow: 0 .25em .5em rgba(0,0,0,.1);
}

section:not(.index) figcaption {
    padding-top: 1em;
    align-self: flex-start;
    font-size: 1.2em;
}

.title {
	font-weight: bold;
}

.artist, .culture, .date{
	color: var(--text-color-light-gray);
}

.culture::before {
	content: " (";
}

.culture::after {
	content: ")";
}

.date::before {
	content: " ";
}

/* index section */
section.index {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: start;
    grid-auto-flow: dense;
    padding: 4em 2em;
	place-items: center;
}

section.index figure {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid;
	padding: 2em;
}

section.index figure .permalink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.index figure img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

section.index figcaption {
    display: none;
}