* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-underline-offset: 0.1em;
	text-decoration-thickness: 2px;

	--text-color-light-gray: #999999;
	--text-color-dark: #fff;
	--theme-color: #1818ff;
	--theme-color-dark: #1616c5;
	--bg-color: #123400;
	--button-background-color: #705bec;
	--button-background-hover-color: #614dcd;
	--button-border-color: #7962fb;
	--input-background-color: #e8e8e8;
	--input-border-color: silver;
	--focus-outline-color: #ffa500;
	--placeholder-color: #695e5e;
}

body {
	font-family: "valkyrie", serif;
	line-height: 1.6;
}

a:hover {
	text-decoration: none;
}

.hidden {
	display: none;
}

/* header & form section */

header {
	height: 100vh;
	display: grid;
	place-content: center;
	margin: 0 auto;
	max-width: 50em;
	padding: 1em;
}

h1 {
	font-family: "auth", sans-serif;
	font-size: 500%;
	text-align: center;
	text-decoration: underline;
	text-decoration-thickness: 4px;
	line-height: 1.5;
}

input, button {
	letter-spacing: 2px;
	font-family: "auth", sans-serif;
	font-size: 110%;
}

input, button, .quote, .warning {
	padding: 1rem;
	width: 100%;
}

input {
	background-color: var(--input-background-color);
	border: 1px solid var(--input-border-color);
}

:focus-visible {
	outline: 2px solid var(--focus-outline-color);
}

button {
	background-color: var(--theme-color);
	color: var(--text-color-dark);
	border: 1px solid var(--theme-color-light);
	cursor: pointer;
	margin: 0.4em 0;
}

button:hover {
	background-color: var(--theme-color-dark);
}

form {
	margin: 2em 0 0;
}

::placeholder {
	color: var(--placeholder-color);
}

.quote, .warning {
    font-size: 120%;
	text-align: center;
	color: #fff;
}

.quote {
	background-color: green;
}

.quote a {
	color: #fff;
}

.warning {
	background: #da002b;
}

/* navigation section */

nav {
	position: fixed;
	z-index: 10;
}

nav ul {
	padding: 1rem 2rem;
	font-size: 120%;
}

/* info (modal) section */
#info {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
}

#info:target {
	visibility: visible;
	display: grid;
	place-items: center;
	min-height: 100vh;
}

#info div {
	max-width: 800px;
	padding: 2em;
	z-index: 999;
	opacity: 0;
	font-size: 140%;
}

#info:target div {
	opacity: 1;
}

#info:target .lightbox {
	visibility: visible;
	text-indent: -9999em;
	background-color: #fffffff2;
}

.lightbox {
	display: grid;
	place-items: center;
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	cursor: pointer;
}

/* artwork section */

section:not(.index) {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: grid;
    place-items: center;
}

section:not(.index) figure {
    height: 100vh;
    scroll-snap-align: center;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:not(.index) figure img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 66vh;
    box-shadow: 0 .25em .5em rgba(0,0,0,.1);
}

section:not(.index) figcaption {
    padding: 1rem;
    align-self: flex-start;
    font-size: 140%;
}

.artist, .culture, .date{
	color: var(--text-color-light-gray);
}

.culture::before {
	content: " (";
}

.culture::after {
	content: ")";
}

.date::before {
	content: " ";
}

/* index section */
section.index {
    display: grid;
    grid-gap: 4em 2em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: start;
    grid-auto-flow: dense;
    padding: 4em 2em;
	place-items: baseline;
}

section.index figure {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid;
	padding: 1em;
}

section.index figure .permalink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.index figure img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

section.index figcaption {
    display: none;
}